@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@800&display=swap');

h1 {
    font-family: 'Baloo Bhaijaan 2';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 79px;
    text-align: center;
    color: #272343;
}