@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  font-family: 'Poppins';
  font-style: normal;
}

.App {
  text-align: center;
}

.general-container > div {
  margin-top: 20px;
  margin-right: 34px;
}