* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.item-card-container {
    box-shadow: none !important;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e5e1e1;
    /* margin-right: 30px;
    margin-bottom: 20px; */
}

.card-item img{
    width: 100%;
    cursor: zoom-in;
}

.card-item p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-item span {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-item a {
    text-decoration: none;
    width: 100%;
}

.card-item Button {
    line-height: 30px;
    width: 100%;
}

.card-item a:active {
    color: #000;
}

.modal-title {
    border-bottom: 1px solid #9C27B0;
}

.dark-mode p, .dark-mode span{
    color: #73717e !important;
}