.header-container {
    width: 80%;
    margin: 0 auto;
}

.container-logo {
    width: 50px;
}

.container-logo img {
    width: 100%;
}

.header-title {
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins';
    color: #fff !important;
}

.header-primary a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-primary {
    background: #9C27B0 !important;
    box-shadow: none !important;
    height: 7vh;
}

.dark-mode {
    background-color: black !important;
}