.cartWidgtet-prod__image {
    width: 40%;
}

.cartWidgtet-prod__info {
    width: 50%;
}

.cartWidgtet-prod__action {
    width: 10%;
}

.cartWidgtet-prod__image img {
    width: 110px;
}

.container-item-list-cart p {
    width: 95%;
}

.cartWidgtet-count {
    background: #45C1F0;
    position: absolute;
    width: 15px;
    height: 15px;
    color: white !important;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 13px;
    right: 12px;
    font-size: 12px;
}
.item-cartWidgtet-prod {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin: 0px 9px;
}

.cartWidgtet-prod__info {
    margin: 0 10px;
}

.cartWidgtet-prod__action button{
    border: none;
    background: none;
    cursor: pointer;
}

.cartWidgtet-prod__action button:hover{
    color: #ccc;
}

.container-item-list-cart > p {
    font-weight: 700;
    text-align: center;
}

.container-item-list-cart > a {
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 500px;
    font-size: 15px;
    background: #9C27B0;
    color: white;
}

.container-item-list-cart {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.delete-icon:hover {
    color: #ccc;
}

.cartWidget-finish-buy Button{
    width: 100%;
}

.cartWidget-finish-buy a {
    text-decoration: none;
    text-align: center;
    color: white;
}